{% macro buttons() %}
    <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa fa-trash-o"></i> delete selected</button>
{% endmacro %}

{{ form_open({ action: target}) }}
<fieldset>
    {{ _self.buttons() }}

    <br /><br />

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed" id="opt-email-table">
            <thead>
                <tr>
                    <th>{{ form_checkbox('select_all', '', false, { id: 'opt-email-select_all' }) }}</th>
                    <th>eMail</th>
                </tr>
            </thead>
            <tbody>
                {% for email in emails %}
                    <tr>
                        <td>{{ form_checkbox('emails[]', html_cval(email)) }}</td>
                        <td>{{ email.getEmail() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ _self.buttons() }}
</fieldset>
{{ form_close() }}