{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Auto-Whitelist > Domains
{% endblock %}

{% macro buttons() %}
    <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-fw fa-trash-o"></i> delete selected</button>
    <a href="#" onclick="$('#add_domain').slideToggle().find('input[type=text]:first').focus();
            return false;" class="btn btn-success btn-sm"><i class="fa fa-fw fa-plus-square-o"></i> add</a>
{% endmacro %}

{% block content %}
    <h3 class="page-header"><i class="fa fa-thumbs-o-up fa-fw"></i> Auto-Whitelist > <i class="fa fa-globe fa-fw"></i> Domains</h3>

    {{ alert('info', 'List of auto-whitelisted domains') }}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary" id="add_domain" style="display:{{ errors.count() > 0 ? 'block' : 'none' }};">
                <div class="panel-heading">add Domain</div>
                <div class="panel-body">
                    {{ form_open({ action: 'WhitelistController@addDomain', role: 'form', class: 'form-inline' }) }}
                    <fieldset>
                        <div class="form-group {%if errors.has('sender_domain') %}has-error{% endif %}">
                            {{ form_text('sender_domain', input_old('sender_domain'), { class: 'form-control', placeholder: 'domain',  autofocus: 'autofocus' } ) }}
                        </div>
                        <div class="form-group {%if errors.has('src') %}has-error{% endif %}">
                            {{ form_text('src', input_old('src'), { class: 'form-control', placeholder: 'Source (class C or D)' } ) }}
                        </div>
                        {{ form_submit('save', { class: 'btn btn-primary' } ) }}
                    </fieldset>
                    {{ form_close() }}

                    {%if errors.has('sender_domain') %}
                        <p class="text-danger">{{ errors.first('sender_domain') }}</p>
                    {% endif %}
                    {%if errors.has('src') %}
                        <p class="text-danger">{{ errors.first('src') }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ form_open({ action: 'WhitelistController@deleteDomains'}) }}

    {{ _self.buttons() }}

    <br /><br />

    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover table-condensed" id="whitelist-domains-table">
            <thead>
                <tr>
                    <th>{{ form_checkbox('select_all', '', false, { id: 'whitelist-domains-select_all' }) }}</th>
                    <th>Sender domain</th>
                    <th>IP address</th>
                    <th>First seen</th>
                    <th>Last seen</th>
                </tr>
            </thead>
            <tbody>
                {% for domain in whitelist_domains %}
                    <tr>
                        <td>{{ form_checkbox('whitelist_domains[]', cval(domain)) }}</td>
                        <td>{{ domain.getSenderDomain() }}</td>
                        <td>{{ domain.getSource() }}</td>
                        <td>{{ domain.getFirstSeen() }}</td>
                        <td>{{ domain.getLastSeen() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ _self.buttons() }}

    {{ form_close() }}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#whitelist-domains-table').dataTable({
                order: [1, 'asc'],
                aoColumnDefs: [
                    {bSortable: false, aTargets: [0]}
                ],
                fnDrawCallback: function (oSettings) {
                    addCheckboxTrigger('#whitelist-domains-table tbody tr');
                },
            });

            addSelectAllTrigger('#whitelist-domains-select_all', '#whitelist-domains-table tbody tr td');
        });
    </script>
{% endblock %}
