<table class="table table-striped table-bordered table-hover table-condensed" id="user-table">
    <thead>
        <tr>
            <th style="width:20px;">{{ form_checkbox('select_all', '', false, { id: 'user-select_all' }) }}</th>
            <th>ID</th>
            <th>Username</th>
            <th>eMail</th>
            <th>enabled</th>
            <th>updated at</th>
            <th>created at</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
            <tr>
                <td>{{ form_checkbox('userids[]', u.getId()) }}</td>
                <td>{{ u.getId() }}</td>
                <td><a href="/" onclick="editUserForm('{{ action('UserController@edit', u.getId()) }}');
                        return false;" style="display:block;">{{ u.getUsername() }}</a></td>
                <td>{{ u.getEmail() }}</td>
                <td>{{ u.isEnabled() ? 'yes' : 'no' }}</td>
                <td>{{ u.getUpdatedAt() }}</td>
                <td>{{ u.getCreatedAt() }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
