{% extends "layouts.base" %}

{% block title %}
    {{ parent() }}Greylist
{% endblock %}

{% block content %}
    <h3><i class="fa fa-clock-o fa-fw"></i> Greylist</h3>

    <div class="alert alert-info">
        <i class="fa fa-fw fa-info-circle"></i> This senders have been greylisted recently
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed" id="greylisted-table">
            <thead>
                <tr>
                    <th>Sender Name</th>
                    <th>Sender Domain</th>
                    <th>IP address</th>
                    <th>Recipient</th>
                    <th>Seen at</th>
                </tr>
            </thead>
            <tbody>
                {% for item in greylist %}
                    <tr>
                        <td>{{ item.getSenderName() }}</td>
                        <td>{{ item.getSenderDomain() }}</td>
                        <td>{{ item.getSource() }}</td>
                        <td>{{ item.getRecipient() }}</td>
                        <td>{{ item.getFirstSeen() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#greylisted-table').dataTable({
                'order': [4, 'desc'],
            });
        });
    </script>
{% endblock %}