<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}SQLgreyGUI &bull; {% endblock %}</title>

    <base href="{{ url('/') }}" target="_self">

    {{ Assets.css() }}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/html5shiv.js') }}"></script>
    <script src="{{ asset('assets/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body>
{% block content %}
{% endblock %}

{{ Assets.js() }}

{% block javascript %}
{% endblock %}
</body>
</html>
