<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav metismenu" id="side-menu">

            {#<li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li>#}

            <li>
                <a class="{{ is_active('DashboardController') }}" href="{{ action('DashboardController@index') }}">
                    <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <li>
                <a class="{{ is_active('greylist') }}" href="{{ action('GreylistController@index') }}">
                    <i class="fa fa-clock-o fa-fw"></i> Greylist</a>
            </li>

            <li class="{{ is_active('whitelist') }}">
                <a href="#"><i class="fa fa-thumbs-o-up fa-fw"></i> Auto-Whitelist<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ is_active('whitelist/emails') }}"
                           href="{{ action('WhitelistController@showEmails') }}">
                            <i class="fa fa-envelope-o fa-fw"></i> eMails</a>
                    </li>
                    <li>
                        <a class="{{ is_active('whitelist/domains') }}"
                           href="{{ action('WhitelistController@showDomains') }}">
                            <i class="fa fa-globe fa-fw"></i> Domains</a>
                    </li>
                </ul>
            </li>

            <li class="{{ is_active('optout') }}">
                <a href="#"><i class="fa fa-minus-square fa-fw"></i> Opt-out<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ is_active('optout/emails') }}"
                           href="{{ action('OptOutController@showEmails') }}">
                            <i class="fa fa-envelope-o fa-fw"></i> eMails
                        </a>
                    </li>
                    <li>
                        <a class="{{ is_active('optout/domains') }}"
                           href="{{ action('OptOutController@showDomains') }}">
                            <i class="fa fa-globe fa-fw"></i> Domains
                        </a>
                    </li>
                </ul>
            </li>

            <li class="{{ is_active('optin') }}">
                <a href="#"><i class="fa fa-plus-square fa-fw"></i> Opt-in<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ is_active('optin/emails') }}"
                           href="{{ action('OptInController@showEmails') }}">
                            <i class="fa fa-envelope-o fa-fw"></i> eMails
                        </a>
                    </li>
                    <li>
                        <a class="{{ is_active('optin/domains') }}"
                           href="{{ action('OptInController@showDomains') }}">
                            <i class="fa fa-globe fa-fw"></i> Domains
                        </a>
                    </li>
                </ul>
            </li>

            <li class="{{ is_active('admin') }}">
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Administration<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ is_active('UserController') }}" href="{{ action('UserController@index') }}">
                            <i class="fa fa-users fa-fw"></i> Users
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
