<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            {#<li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>#}


            <li>
                <a class="{{ html_nav_class('dashboard') }}" href="{{ action('DashboardController@index') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <li>
                <a class="{{ html_nav_class('greylist') }}" href="{{ action('GreylistController@index') }}"><i class="fa fa-clock-o fa-fw"></i> Greylist</a>
            </li>

            <li class="{{ html_nav_class('whitelist') }}">
                <a href="#"><i class="fa fa-thumbs-o-up fa-fw"></i> Auto-Whitelist<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ html_nav_class('whitelist/emails') }}" href="{{ action('WhitelistController@showEmails') }}"><i class="fa fa-envelope-o fa-fw"></i> eMails</a>
                    </li>
                    <li>
                        <a class="{{ html_nav_class('whitelist/domains') }}" href="{{ action('WhitelistController@showDomains') }}"><i class="fa fa-globe fa-fw"></i> Domains</a>
                    </li>
                </ul>
            </li>

            <li class="{{ html_nav_class('optout') }}">
                <a href="#"><i class="fa fa-minus-square fa-fw"></i> Opt-out<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ html_nav_class('optout/emails') }}" href="{{ action('OptOutController@showEmails') }}"><i class="fa fa-envelope-o fa-fw"></i> eMails</a>
                    </li>
                    <li>
                        <a class="{{ html_nav_class('optout/domains') }}" href="{{ action('OptOutController@showDomains') }}"><i class="fa fa-globe fa-fw"></i> Domains</a>
                    </li>
                </ul>
            </li>

            <li class="{{ html_nav_class('optin') }}">
                <a href="#"><i class="fa fa-plus-square fa-fw"></i> Opt-in<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ html_nav_class('optin/emails') }}" href="{{ action('OptInController@showEmails') }}"><i class="fa fa-envelope-o fa-fw"></i> eMails</a>
                    </li>
                    <li>
                        <a class="{{ html_nav_class('optin/domains') }}" href="{{ action('OptInController@showDomains') }}"><i class="fa fa-globe fa-fw"></i> Domains</a>
                    </li>
                </ul>
            </li>

            <li class="{{ html_nav_class('admin') }}">
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Administration<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="{{ html_nav_class('admin/users') }}" href="{{ action('UserController@index') }}"><i class="fa fa-users fa-fw"></i> Users</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->